<%- include('../templates/_head')-%>
  <h1 class="text-center">Transfer</h1>
  <div class="d-flex justify-content-center">
    <a href="/customers/<%= data.id %>/accounts" class="btn btn-primary" > show all accounts</a>
  </div>
  <div class="container mt-3">
    <% if(errors){ %>
      <% errors.forEach(error => { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p><%= error %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% }) %>
    <% } %>
  </div>
  <div class="container mt-3">
    <div class="alert alert-primary">
      <p>Transfer from: <strong><%= data.accountNumber %> <%= data.type %> <%= data.maskBalance %> </strong></p>
    </div>
    <form action="/customers/<%= data.CustomerId %>/accounts/<%= data.id %>/transfer" method="post" class="d-flex justify-content-center flex-column">
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" autofocus>
      </div>
      <div class="form-group">
        <label for="transferTo">Transfer to</label>
        <select name="transferTo" id="transferTo" class="form-control">
          <% allData.forEach(acc => { %>
            <option value="<%= acc.id %>"><%= acc.accountNumber%> - <%= acc.Customer.fullName %></option>
          <% }) %>
        </select>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Transfer</button>
      </div>
    </form>
  </div>
<%- include('../templates/_footer')-%>
